extends layout

block content  
  h1 MetaGal: a searchable gallery  
  p.lead Stuck with a pile of images?  
  hr
  .row
    .col-sm-6
      h2 Smart meta tagging
      p Add meaningful information to your gallery, however you want it.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Smart meta recognition 
      p TFExtract&trade; Powered image recognition. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »